*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    height: 400px;
    gap: 10px;
    background-color: white;
    border: black solid 5px;
}

.items{
    width: 100px;
    height:100px;
    background-color: #3498db;
    border: black dashed 2px;
    margin: 10px;
}