*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    font-size: 13px;
}


.container{
    display:flex;
    flex-direction: row;
    background-color: #fff;
    width: 95%;
    border: black solid 2px;
    align-items: stretch;
}

.horas{
    display: flex;
    flex-direction: column;
    border-right: black solid 2px;
    width: 15%;
}

.hora{
    display: block;
    border-top: black dotted 1px;
    height: 50px;
    text-align: center;
    padding: 30px;
}

.hora:first-child{
    border-top: none;
}

.dias{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.dia{
    display: flex;
    flex-direction: column;
    border-right: black solid 2px;
    flex-grow: 1;
}

.encabezado-dia{
    display: block;
    border-bottom: black dotted 1px;
    height: 111px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.clase-progra{
    position: relative;
    left: 10px;
    top: 5px;
    width: 90%;
    height: 155px;
    background-color: #4CAF50;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: #3e8a40 5px 5px;
}

.clase-progra2{
    position: relative;
    left: 10px;
    top: 15px;
    width: 90%;
    height: 155px;
    background-color: #4CAF50;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: #3e8a40 5px 5px;
}

.clase-bd{
    position: relative;
    left: 10px;
    top: 5px;
    width: 90%;
    height: 155px;
    background-color: #2196F3;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    box-shadow:#1b76c0 5px 5px;
}

.clase-bd2{
    position: relative;
    left: 15px;
    top: 15px;
    width: 90%;
    height: 155px;
    background-color: #2196F3;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    box-shadow:#1b76c0 5px 5px;
}

.clase-requi{
    position: relative;
    left: 10px;
    top: 5px;
    width: 90%;
    height: 155px;
    background-color: #FF5722;
    border-radius: 5px;
    text-align: center;
    padding-top: 30px;
    box-sizing: border-box;
    box-shadow:#d4481d 5px 5px;
}

.clase-requi2{
    position: relative;
    left: 10px;
    top: 15px;
    width: 90%;
    height: 155px;
    background-color: #FF5722;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    box-shadow:#d4481d 5px 5px;
}

.clase-html{
    position: relative;
    left: 10px;
    top: 5px;
    width: 90%;
    height: 155px;
    background-color: #9C27B0;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    box-shadow: #7b1e8b 5px 5px; 
}

.clase-html2{
    position: relative;
    left: 10px;
    top: 15px;
    width: 90%;
    height: 155px;
    background-color: #9C27B0;
    border-radius: 5px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    box-shadow: #7b1e8b 5px 5px;
}

.clase-ingles{
    position: relative;
    left: 5px;
    top: 5px;
    width: 90%;
    height: 155px;
    background-color: #FF9800;
    border-radius: 5px;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    box-shadow: #b66e03 5px 5px;
}

.clase-ingles2{
    position: relative;
    left: 5px;
    top: 15px;
    width: 90%;
    height: 155px;
    background-color: #FF9800;
    border-radius: 5px;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    box-shadow: #b66e03 5px 5px;
}

.clase-ambiente{
    position: relative;
    left: 5px;
    top: 20px;
    width: 90%;
    height: 155px;
    background-color: #8BC34A;
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    box-sizing: border-box;
    box-shadow: #658d38 5px 5px;
}

.clase-ambiente2{
    position: relative;
    left: 5px;
    top: 30px;
    width: 90%;
    height: 155px;
    background-color: #8BC34A;
    border-radius: 5px;
    text-align: center;
    padding-top: 50px;
    box-sizing: border-box;
    box-shadow: #658d38 5px 5px;
}

.clase-py{
    position: relative;
    left: 10px;
    top: 5px;
    width: 90%;
    height: 155px;
    background-color: #f34ecf;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    box-shadow: #a7358e 5px 5px;
}

.clase-py2{
    position: relative;
    left: 10px;
    top: 15px;
    width: 90%;
    height: 155px;
    background-color: #f34ecf;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    box-sizing: border-box;
    box-shadow: #a7358e 5px 5px;
}

.dia_sabado{
    border-right: none;
}
